.header-box{
    background-color: #6b6b6b;
    border-radius: 20px;
    padding: 20px;
}
.header-layout {
  display: grid;
  grid-template-columns: 1fr;   /* Mobile + Tablet */
  gap: 20px;
  margin-top: 24px;
}

/* Desktop */
@media (min-width: 1200px) {
  .header-layout {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width:1200px) {
    .header-layout {
        grid-template-columns: repeat(1, 1fr);
    }
    .header-layout{
        gap: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .header-box{
        width: 100%;
     
    }
}
