html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:#2A2A2A;
    border-radius: 20px;
    overflow-x: hidden;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: larger;

}
.container{
    
    padding: 20px;
    color: #FFFFFF;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #3B3B3B;
    border-radius: 8px;
}
.header-title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 16px;
}
@media (max-width:1200px) {
  .header-title{
    text-align: center;
  }
}
.main-section {
  display: flex;
  gap: 24px;
  margin-top: 32px;
}
@media (max-width:900px) {
  .main-section {
    flex-direction: column;
  }
  
}
.transactions {
  flex: 0 0 60%;
}

.top-expenses {
  flex: 1;
  min-width: 300px;
}

body{
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

  .main-section {
    flex-direction: column;
  }

  .transactions,
  .top-expenses {
  width: 100%;
  overflow-x: auto;
}

