html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:#2A2A2A;
    border-radius: 20px;
    overflow-x: hidden;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: larger;

}
.container{
    
    padding: 16px;
    color: #FFFFFF;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #3B3B3B;
    border-radius: 8px;
    max-width: 1200px;
    margin:0 auto;
    
}
.header-title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 16px;
}
@media (max-width:1200px) {
  .header-title{
    text-align: center;
  }
}

.main-content{
    display: flex;
    gap: 16px;
}
.recent-transactions{
    width: 60%;
}
.top-expenses{
    width: 40%;
}
@media (max-width: 1200px) {
  .main-content{
    flex-direction: column;
  }
  .recent-transactions, .top-expenses{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
body{
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}





