html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:#2A2A2A;
    border-radius: 20px;
}
.container{
    text-align: start;
    padding: 20px;
    color: #FFFFFF;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #3B3B3B;
    border: 24px solid transparent;
    border-radius: 8px;
}
.summary-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 24px 0px;
    color: #FFFFFF;
    background-color: #626262;
    padding: 20px;
    border-radius: 12px;
}
/* .summary-card {
  height: 180px;            
  padding: 20px;
  border-radius: 12px;
  background-color: #9b9b9b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */
.main-section {
  display: flex;
  gap: 24px;
  margin-top: 32px;
}

.transactions {
  flex: 0 0 60%;
}

.top-expenses {
  flex: 0 0 40%;
}

body{
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
@media (max-width: 900px) {
  .summary-grid {
    grid-template-columns: 1fr;
  }

  .main-section {
    flex-direction: column;
  }

  .transactions,
  .top-expenses {
    flex: 1;
  }
}
